.container {
  padding: 1.6rem;
}

.list {
  display: flex;
  justify-content: center;
}

.image {
  max-height: 60rem;
}

.item {
  padding: 0 2rem;
}

.phoneDoubleContainer {
  @include breakpoint(lg) {
   padding: 6rem 0;
 }

  .item {
    padding: 0 1.6rem;

    @include breakpoint(md) {
      padding: 0 3rem;
    }
  }
}

.phoneTripleContainer {
  @include breakpoint(lg) {
    padding: 6rem 0;
  }

  .item {
    padding: 0 0.8rem;

    @include breakpoint(md) {
      padding: 0 3rem;
    }
  }
}

.desktopContainer {
  @include breakpoint(sm) {
    padding: 4rem 0;
  }

  @include breakpoint(md) {
    padding: 6rem 0;
  }

  @include breakpoint(lg) {
    padding: 10rem 0;
  }

  .list {
    flex-direction: column;

    @include breakpoint(sm) {
      flex-direction: row;
    }
  }

  .item {
    padding: 2rem;
  }

  .image {
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.16);
  }
}
