.list {
  display: flex;
  overflow: hidden;

  @include breakpoint(md) {
    height: 40rem;
  }

  @include breakpoint(lg) {
    height: 60rem;
  }
}

.smallImageItem {
  display: none;

  @include breakpoint(md) {
    display: block;
    width: calc(30% - 3.2rem);
    margin-right: 3.2rem;
  }

  @include breakpoint(lg){
    margin-right: 6rem;
  }
}

.smallImageContainer {
  height: 100%;

  @include breakpoint(md) {
    padding: 3.2rem 3.2rem 3.2rem;
  }

  @include breakpoint(lg) {
    padding: 5rem 3.6rem;
  }
}

.largeImageItem {
  width: 100%;

  @include breakpoint(md) {
    width: 70%;
  }
}

.desktopImageWrapper {
  padding: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .largeImage {
    max-height: 90%;
    border-radius: 0.5rem;
    box-shadow: $shadow;
    height: 100%;
    width: auto;
    object-fit: initial;

    @include breakpoint(lg) {
      max-height: 88%;
    }
  }
}

.largeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smallImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.mobileItem {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 0 0.4rem;
  align-items: center;

  @include breakpoint(md) {
    display: none;
  }
}

.mobileItemImageWrapper {
  width: 30%;
  position: relative;
  left: 9%;
}

.mobileItemRightImage {
  position: relative;
  left: 18%;
  width: 83%;
  padding-bottom: 1rem;
}

.desktopItem {
  display: none;

  @include breakpoint(md) {
    display: flex;
  }
}
